body {
    background-image: url(https://i.pinimg.com/736x/d7/45/b3/d745b3f1f2654cf1aaab0fe9e2e9246d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.container {
    padding-top: 50px; 
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-top: 50PX;
    margin-bottom: 20px;
    color: black;
}

.input-group {
    max-width: 600px;
    margin: 60px auto 30px;
}

.form-control {
    border-radius: 50px 0 0 50px;
    border: 2px solid black;
    padding: 15px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: black;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    background-color: transparent;
    border-color: black;
    box-shadow: none;
}

.btn-secondary {
    border-radius: 0 50px 50px 0;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

.card {
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: black;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.card img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

#resultCard.d-none {
    display: none;
}

.text-danger {
    font-weight: bold;
}

@media (max-width: 480px) {
    body {
        background-image: url('https://pin.it/1LpKejg6k.jpg');
    }
}
