body {
    background-image: url(https://i.pinimg.com/736x/d7/45/b3/d745b3f1f2654cf1aaab0fe9e2e9246d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-primary {
    background-color: black;
    box-shadow: none;
    border: 1px solid black;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.card {
    border-color: black; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.imgContainer {
    width: 40%;
    height: auto;
    margin: auto;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#catImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.btn-secondary {
    border-radius: 0px 100px 100px 0px;
    background-color: black; 
    color: #fff;  
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;   
    transition: background-color 0.3s ease;
    width: -20px;
}

.btn-secondary:hover {
    background-color: black; 
}

.form-control {
    border-radius: 100px 0px 0px 100px;
    border-color: black;
    padding: 10px;   
    font-size: 16px; 
    width: 90%;
    outline: none; 
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.form-control:focus {
    border-color: black;
    background-color: transparent;
    box-shadow: none;
}

@media (max-width: 768px) {
    body {
        background-image: url(https://i.pinimg.com/736x/04/32/6e/04326ee30ed5ca2219ef14b1e67561cf.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    
    .card {
        padding: 15px;
        margin: 10px;
    }

    .imgContainer {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px;
    }

    .btn-secondary {
        width: 40%;
        padding: 12px; 
    }

    .form-control {
        width: 80%;
        padding: 12px; 
    }

    text-container {
        text-align: center;
    }
}

@media (max-width: 480px) {
    body {
        background-image: url(https://i.pinimg.com/736x/04/32/6e/04326ee30ed5ca2219ef14b1e67561cf.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .card {
        padding: 15px;
        margin: 10px;
    }

    .imgContainer {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px;
    }

    .btn-secondary {
        width: 40%;
        padding: 12px; 
    }

    .form-control {
        width: 80%;
        padding: 12px; 
    }

    text-container {
        text-align: center;
    }
}
